body{
    background-color: #E8E8E7;
}
.fondo-banner{
    background-image: url(../img/banner.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
}
.fondo-table{
    width: 300px;
    height: 50px;
    background-color:white;
    font-size: 22px;
}
.fondo-footer{
    background-color: black;
}

.back-icon{
    background-color: white;
}
@media(min-width: 800px){
    .content{
        position: absolute;
        left:70%;
    }
    .navi{
        margin-top:5px;
        margin-left: 20px;
    }
    .navi:active{
        margin-top: 6px;
    }
    .drop{
        position: absolute;
        top:57px;
        left:-20px; 
    }

}
.tamanio-drop{
    width: 250px;
}
.tamanio-text-box-login{
    width: 200px;
}
.img{
    width: 30px;
    height: 30px;
}
.img:active{
    margin-top:1px;
}
.color-titulo-footer{
    color:white;
}
.color-letra-footer{
    color:gray;
}

.img-carrousel{
    width: 410px;
    height: 410px;
}
.img-oferta{
    width: 150px;
    height: 150px;
}
.color-letra-publicacion{
    color: black;
}
.ofertas{
    color:black;
}
.ofertas:hover{
    color : black;
    text-decoration: none;
}
.color-contenido{
    background-color:#FFE07F;
}
.confirm-icon{
      background-image: url(../img/iconic/png/arrow-thick-right-2x.png);
      background-repeat: no-repeat;
      background-position-y: 45%;
      background-position-x: 50%
}
.tamanio-contenido-libro{
    width: 200px;
    height: 200px;
}
.img-libro{
    width: 100px;
    height: 100px;
}
.list-estanteria{
    width: 300px;
}
.boton-filtrar{
    position:absolute;
    right: 1px;
}

.fondo-barra{
    background-color: #EFFDB1;
}

