.font-exo2{
    font-family: 'Exo 2', sans-serif;
}
.font-cairo{
    font-family: 'Cairo', sans-serif;
}
.font-orbitron{
    font-family: 'Orbitron', sans-serif;
}
.font-philosopher{ 
    font-family: 'Philosopher', sans-serif;
}
.font-src-sans-pro{
    font-family: 'Source Sans Pro', sans-serif;

}
.font-roboto{
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px gray;
}
.text-title{
    color:black;
}



